{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Liens vers des feuilles de style spécifiques à cette page -->
{% endblock %}

{% block body %}
    <h2>Bienvenue sur la page d'accueil</h2>
    <p>Contenu de la page d'accueil.</p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Scripts spécifiques à cette page -->
{% endblock %}
